html,body{
	margin: 0;
	padding: 0;
}

body{
	font-family: "PT Sans","PTSans-Regular",sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333;
	font-weight: normal;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

.container{
	width: 1200px;
	margin: auto;
	background-color: white;
}

a{
	color: black;
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus{
	color: #81b3d2;
}

a:active{
	opacity: .3;
}

.active-link{
	color: #766357;
}

.intro{
	height: 508px;
	background: #e2eff8 url(../img/background-1200.jpg) no-repeat top center;
}

.feature-lead{
	font-size: 21px;
	line-height: 26px;
}

.feature h2{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.feature-blue{
	color: white;
	background: #81b3d2;
}

.feature-gray{
	background: #eee;
}

.feature h3,
.promo h3{
	font-size: 21px;
	line-height: 21px;
	color: black;
}

h3.color-white{
	color: white;
}

.text-interested{
	font-size: 30px;
	line-height: 36px;
}

.line-height-24{
	line-height: 24px;
}

/*.find-hotel h2,					//стоит ли батон оборачивать в х2?*/
.form-show-btn{
	font-size: 21px;
	line-height: 26px;
	color: white;
	background: #766357;
	border: 0;
}

.form-show-btn:hover,
.form-show-btn:focus{
	background: #604e43;
}

.form-show-btn:active{
	color: rgba(255,255,255,.3)
}

.find-hotel label{
	font-weight: bold;
	line-height: 26px;
}

/*---------------------------------Стили для страницы hotels.html---------------------------------*/

.filter{
	height: 217px;
	background: #e2eff8 url(../img/filter-background-1200.png) no-repeat top center;
}

.filter legend{
	font-size: 16px;
	color: white;
}

/*  .filter input[type=checkbox]  */
.filter input{
	color: white;
}

.found-number{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.text-sort,
.sorting-controls li{
	font-size: 12px;
	line-height: 18px;
}

.sorting-controls a{
	color: rgba(0,0,0,.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting-controls a.active-link{
	color: #81b3d2;
	border-bottom: 0;
}

.sorting-controls a.active-link:hover,
.sorting-controls a.active-link:active{
	color: #81b3d2;
}

.sorting-controls a:not(.active-link):hover,
.sorting-controls a:not(.active-link):focus{
	color: #81b3d2;
}

.sorting-controls a:not(.active-link):active{
	color: black;
	text-decoration: none;
}

.hotel-description h2{
	font-size: 21px;
	line-height: 26px;
	color: black;
}

.details-btn{
	background: #81b3d2;
	color: white;
	font-weight: bold;
}

.details-btn:hover,
.details-btn:focus{
	background: #669ec0;
	color: white;
}

.details-btn:active{
	background: #5496bd;
	color: rgba(255,255,255,.3);
}
			
.booking-btn{
	background: #766357;
	color: white;
	font-weight: bold;
}

.booking-btn:hover,
.booking-btn:focus{
	background: #604e43;
	color: white;
}

.booking-btn:active{
	background: #503e33;
	color: rgba(255,255,255,.3);
}

.user-rating{
	background: #f2f2f2;
}

.fblink{
	font-size: 0;
}

.fblink::before{
	content: "";
	background: #81b3d2 url(../img/facebook-logo.svg) no-repeat;
	display: block;
	width: 15px;
	height: 15px;
}