html,body{
	margin: 0;
	padding: 0;
}

body{
	font-family: "PT Sans", Arial,sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

img{
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container{
	position: relative;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,1,1,.2);
}

.main-menu{
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
	list-style: none;
}

.main-menu li{
	flex-basis: 20%;
	width: 20%;
	padding: 16px 0 19px 0;
	text-align: left;
	font-weight: bold;
}

.main-menu li:first-of-type{
	margin-left: 6%;
}
.main-menu li:last-of-type{
	margin-right: 6%;
}

.main-menu li:nth-of-type(2){
	margin-right: auto;
}

.main-menu li:nth-of-type(n+3){
	text-align: right;
}

.logo{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

a{
	color: black;
	text-decoration: none;
	outline: none;
}

a:not(.active-link):hover,
a:not(.active-link):focus{
	color: #81b3d2;
}

a:not(.active-link):active{
	color: rgba(0,0,0,.3);
}

.active-link{
	color: #766357;
}

.intro{
	display: flex;
	height: 508px;
	justify-content: center;
	align-items: flex-start;
	background-color: #fff, #e2eff8;
	background-image: url(../img/Shape1.png), url(../img/background-1200.jpg);
	background-size: 100% auto, auto;
	background-position: center bottom, center -57px;
	background-repeat: no-repeat, no-repeat;
}

.intro img{
	margin-top: 76px;
}

.feature{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.feature-header{
	margin-bottom: 51px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
}

.feature-lead{
	margin-top: 60px;
	margin-bottom: 27px;
//padding: 30%;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.feature-header h2{
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.feature-content{
	display: flex;
	align-items: flex-start;
	flex-basis: 100%;
}

.feature-blue,
.feature-gray{
	min-height: 256px;
	padding: 0 0 0 0;
	flex-basis: 33%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature-blue{
	color: white;
	background: #81b3d2;
}

.feature-gray{
	background: #eee;
}

.feature-blue h3,
.feature-blue p,
.feature-gray h3,
.feature-gray p{
	margin: 0;
	text-align: center;
}

.feature-blue h3,
.feature-gray h3{
	margin-bottom: 23px;
	padding: 15%;
	text-align: center;
}

.feature-blue p:last-of-type,
.feature-gray p:last-of-type{
	margin-top: 21px;
	padding: 15%;
}

.feature img{
	display: block;
}

.feature-img-mask{
	flex-basis: 66%;
	flex-grow: 2;
}

.feature h3,
.promo h3{
	font-size: 21px;
	line-height: 21px;
	color: black;
}

.promo p{
	padding: 15%;
}

.promo{
	padding: 60px 0 82px 0;
}

.promo-list{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.promo-list li{
	flex-basis: 33%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promo-list h3{
	position: relative;
	margin: 101px 0 24px 0;
}

.promo-list h3::before{
	content: "";
	position: absolute;
	top: -105px;
	left: 50%;
	display: block;
	width: 76px;
	height: 76px;
	margin-left: -38px;
}

.promo-house h3::before{
	background: url(../img/house.svg) no-repeat bottom center;
}

.promo-food h3::before{
	background: url(../img/food.svg) no-repeat bottom center;
}

.promo-souvenirs h3::before{
	background: url(../img/souvenirs.svg) no-repeat top center;
}

.promo-list p{
	margin: 0;
	text-align: center;
}

h3.color-white{
	color: white;
}

.find-hotel{
	position: relative;
	padding: 50px 0 0;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.text-interested{
	margin-bottom: 24px;
	font-size: 30px;
	line-height: 36px;
}

.text-description{
	margin: 0 0 47px 0;
	line-height: 24px;
	text-align: center;
}

.form-show-btn{
	width: 569px;
	height: 86px;
	margin-top: auto;
	font-family: "PT Sans","Arial",sans-serif;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background: #766357;
	border: 0;
}

.form-show-btn:hover,
.form-show-btn:focus{
	background: #604e43;
}

.form-show-btn:active{
	color: rgba(255,255,255,.3);
	background: #503e33;
}

.find-hotel label{
	font-weight: bold;
	line-height: 26px;
	color: black;
}

.find-hotel-form{
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 2;
	width: 459px;
	padding: 55px;
	transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,1,1,.15);
}

.find-hotel-form-hidden{
	display: none;
}

.find-hotel-form p{
	flex-basis: 100%;
	margin: 0 0 29px 0;
	display: flex;
	align-items: center;
}

.find-hotel-form input[type=text],
.calendar,
.plus-minus-btn{
	min-height: 38px;
	flex-shrink: 0;
	border: 0;
	padding: 0;
	font-family: inherit;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: center;
	background: #f2f2f2;
}

.find-hotel-form input[type=text]:hover{
	background: #ebebeb;
}

.find-hotel-form input[type=text]:focus{
	background: #fff;
	box-shadow: inset 0 0 0 2px #e5e5e5;
}

.form-date input[type=text]{
	min-width: 295px;
	padding: 0 0 0 13px;
	margin-left: auto;
}

.calendar,
.plus-minus-btn{
	min-width: 38px;
	font-size: 26px;
	font-weight: bold;
	line-height: 0;
	color: #a9a9a9;
}

.plus-minus-btn:hover,
.plus-minus-btn:focus{
	color: #000;
}

.plus-minus-btn:active{
	color: #81b3d2;
}

.calendar svg{
	fill: #cacaca;
}

.calendar:hover svg,
.calendar:focus svg{
	fill: #000;
}

.calendar:active svg{
	fill: #81b3d2;
}

.find-hotel-form .form-people{
	flex-basis: 50%;
	margin-bottom: 55px;
}

.form-people input[type=text]{
	width: 38px;
	text-align: center;
}

.form-people label{
	width: 113px;
}

.ppl-children label{
	width: auto;
	margin: 0 27px 0 auto;
	text-align: right;
}

.find-hotel-form input[type=submit]{
	flex-basis: 100%;
	height: 58px;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background: #81b3d2;
}

.find-hotel-form input[type=submit]:hover,
.find-hotel-form input[type=submit]:focus{
	background: #669ec0;
}

.find-hotel-form input[type=submit]:active{
	color: rgba(255,255,255,.3);
	background: #5496bd;
}

.map{
	position: relative;
	height: 473px;
	overflow: hidden;
}

.map img{
	position: absolute;
	z-index: 0;
	top: 0;
}

.map iframe{
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
}

.page-footer{
	padding: 36px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.page-footer > div{
	flex-basis: 33%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-visit-sedona{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.social-links{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.social-links li:not(:last-of-type){
	margin-right: 6px;
}

.social-links a{
	margin: 0;
	padding: 0;
	font-size: 0;
	display: block;
	line-height: 0;
	background: #81b3d2;
}

.social-links a::before{
	content: "";
	display: block;
	width: 46px;
	height: 48px;
}

.twlink::before{
	background: url(../img/twitter-logo.svg) no-repeat center center;
}

.fblink::before{
	background: url(../img/facebook-logo.svg) no-repeat center center;
}

.ytlink::before{
	background: url(../img/youtube-logo.svg) no-repeat center center;
}

.social-links a:hover,
.social-links a:focus{
	background-color: #669ec0;
}

.social-links a:active{
	background-color: #5496bd;
}

.social-links a:active::before{
	opacity: .3;
}

.copyrights{
	line-height: 26px;
}

.copyrights a{
	margin-left: 8px;
}

.copyrights a svg{
	fill: #231f20;
}

.copyrights a:hover svg,
.copyrights a:focus svg{
	fill: #81b3d2;
}

.copyrights a:active svg{
	fill: #bfbdbe;
}

/*------------------------------------------------------------------------------------------------*/
/*---------------------------------Стили для страницы hotels.html---------------------------------*/
/*------------------------------------------------------------------------------------------------*/

.wrapper{
	padding: 0 6%;
	display: flex;
	align-items: flex-start;
}

.filter-wrapper{
	background: #e2eff8 url(../img/filter-background-1200.png) no-repeat top center;
}

.filter{
	flex-basis: 100%;
	padding: 27px 0 33px 0;
	display: flex;
	align-items: flex-start;
}

.filter p{
	margin: 0;
}

.filter p:not(:last-of-type){
	margin-bottom: 24px;
}

.filter legend{
	margin: 0 0 25px 0;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.filter fieldset{
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
	flex-direction: column;
}


.filter fieldset:first-of-type{
	margin-right: 114px;
}

.filter fieldset:last-of-type{
	width: 30%;
	margin-left: auto;
}

.filter input[type=checkbox]{
	position: absolute;
	margin: 0;
	width: 27px;
	height: 23px;
	opacity: 0;
}

.filter-label{
	position: relative;
	margin: 0;
	padding-left: 40px;
	color: white;
}

.filter-label::before{
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
	width: 27px;
	height: 23px;
	background: url(../img/checkbox-off.svg) no-repeat 0 0;
}

.filter input[type=checkbox]:checked ~ .filter-label::before{
	background: url(../img/checkbox-on.svg) no-repeat 0 0;
}

.filter .filter-range{
	width: 100%;
	color: #fff;
	display: flex;
}

.filter .filter-range-title{
	margin-bottom: 9px;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.price-controls{
	position: relative;
	height: 33px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label{
	display: inline-block;
	margin-top: 5px;
	font-size: 14px;
	line-height: 21px;
	vertical-align: center;
	cursor: pointer;
}

.price-controls .min-price{
	width: 90px;
	padding-left: 65px;
}

.price-controls .max-price{
	padding-left: 52px;
}

.price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls{
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
	width: 80%;
	height: 2px;
	background: #fff;
}

.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover{
	background: #1c4f80;
}

.range-toggle-min{
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
	color: #000000;
	background: #ffffff;
}

.sorting-controls{
	padding-top: 30px;
	padding-bottom: 30px;
	align-items: center;
}

.sort-column{
	width: 135px;
	margin: 0 30px 0 0;
}

.hotels-search-result img.sort-column{
	padding-top: 5px;
}

.found-number{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.text-sort,
.sorting-controls li{
	font-size: 12px;
	line-height: 18px;
}

.text-sort{
	margin: 0 40px 0 0;
}

.sorting-buttons{
	flex-grow: 1;
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
}

.sorting-buttons li:not(:last-of-type) a{
	margin: 0 32px 0 0;
}

.sorting-controls a{
	color: rgba(0,0,0,.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting-controls a.active-link{
	color: #81b3d2;
	border-bottom: 0;
}

.sorting-controls a:not(.active-link):hover,
.sorting-controls a:not(.active-link):focus{
	color: #81b3d2;
}

.sorting-controls a:not(.active-link):active{
	color: black;
	border: 0;
}

.sorting-buttons li:nth-of-type(3){
	margin-right: auto;
}

.sorting-controls .sort-up-down a{
	font-size: 0;
	line-height: 0;
	border-bottom: 0;
}

.sort-asc{
	margin-right: 10px;
}

.sort-up-down svg{
	fill: #cacaca;
}

.sort-asc:hover svg,
.sort-asc:focus svg,
.sort-desc:hover svg,
.sort-desc:focus svg{
	fill: #000;
}

.sort-asc:active svg,
.sort-desc:active svg{
	fill: #81b3d2;
}

.searched-hotel{
	padding-top: 25px;
	padding-bottom: 30px;
	border-top: 1px solid #E5E5E5;
}

.searched-hotel:last-of-type{
	border-bottom: 1px solid #E5E5E5;
}

.hotel-description h2{
	margin: 0 0 6px 0;
	font-size: 21px;
	line-height: 26px;
	color: black;
	vertical-align: top;
}

.more-info,
.booking{
	display: inline-flex;
	margin: 0 2px 0 0;
	flex-direction: column;
}

.more-info span,
.booking span{
	margin: 0 0 15px 0;
}

.details-btn,
.booking-btn{
	height: 21px;
	padding: 3px 17px;
	font-weight: bold;
	color: white;
}

.details-btn{
	background: #81b3d2;
}

.booking-btn{
	background: #766357;
}

a.details-btn:hover,
a.details-btn:focus{
	background: #669ec0;
	color: white;
}

a.details-btn:active{
	background: #5496bd;
	color: rgba(255,255,255,.3);
}

a.booking-btn:hover,
a.booking-btn:focus{
	background: #604e43;
	color: white;
}

a.booking-btn:active{
	background: #503e33;
	color: rgba(255,255,255,.3);
}

.rating{
	align-self: stretch;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.star-rating{
	width: 23px;
	height: 17px;
	margin-top: 4px;
	background: url(../img/star.svg) space 0 0;
}

.two-star{
	width: 41px;
}

.three-star{
	width: 65px;
}

.four-star{
	width: 88px;
}

.user-rating{
	height: 21px;
	padding: 3px 13px;
	color: #666;
	background: #f2f2f2;
}

::-webkit-input-placeholder {
	color: black;
	opacity: 1;
}

::-moz-placeholder {
	color: black;
	opacity: 1;
}

:-ms-input-placeholder {
	color: black;
	opacity: 1;
}

@media (max-width: 768px){
	.intro{
	background-image: url(../img/Shape1.png), url(../img/background-768.jpg);
	background-size: 100% 37px, auto;
	background-position: center bottom, center top;
	background-repeat: no-repeat, no-repeat;
	}
}
